* {
	padding: 0%;
	margin: 0%;	
}

/* Estilos de la cabecera */

header {
	background-color: #4169E1; /* #4169E1 color base de la cabecera */
	width: 100%;
	height: 300px;
}
nav {	
	background-color: black;
	color: white;
	float: left;	
	width: 100%;
	padding:0.2em;
	margin: 0 auto;
	opacity: 0.8;
}
nav ul {
	width: 70%;
	margin: 0 auto;
}
nav ul li {
	width: 100px;
	border-radius: 0% 2%;
	background-color: #4169E1;
	color: white;
	display: inline-block;
	text-align: center;
	padding: 0.5em;
}
nav ul li:hover {
	color: red;
}

/* contenido */
div	{
	position:relative;
	width: 80%;
	margin: 0 auto;
}
div section {
	vertical-align: top;
	display: inline-block;
	padding: 0.5em;
		
}
div #contenido { 	/*Aqui van todos los post*/
	background-color: #4169E1;
	width: 70%;
}
div #extra{ 	
	background-color: white;
	width: 20%;			/*Aqui va la publicidad*/
}



/* Classes */

/* estilos de post */
.post {
	background-color: white;
	padding: 2em;	
}
.post h2{
	padding: 0.5em;
}

.publicidad {
	padding: 1em;
}
.publicidad h2 {
	padding: 0.5em;
}


@media (max-width:1000px) {
	div #contenido { 	/*Aqui van todos los post*/
		background-color: #4169E1;
		width: 100%;
	}
	div #extra {
		width: 100%;
	}
	div #extra article{ 	
	background-color: white;
	display: block;
}

}