* {
	padding: 0%;
	margin: 0%;	
}

/* Estilos de la cabecera */

header {
	background-color: #4169E1; /* #4169E1 color base de la cabecera */
	width: 100%;
	height: 50px;
}
nav {	
	background-color: black;
	color: white;
	float: left;	
	width: 100%;
	padding:0.2em;
	margin: 0 auto;
	opacity: 0.8;
}
nav ul {
	width: 70%;
	margin: 0 auto;
}
nav ul li {
	width: 100px;
	border-radius: 0% 2%;
	background-color: #4169E1;
	color: white;
	display: inline-block;
	text-align: center;
	padding: 0.5em;
}
nav ul li a{
	color:white;
	text-decoration: none;
}
nav ul li a:hover {
	color: red;
}

/* contenido */
div	{
	position:relative;
	width: 80%;
	margin: 0 auto;
}
div section {
	vertical-align: top;
	display: inline-block;
	padding: 0.5em;
		
}
div #contenido { 	/*Aqui van todos los post*/
	background-color: #4169E1;
	width: 70%;
}
div #extra{ 	
	width: 20%;	
	margin-top:5px;			/*Aqui va la publicidad*/
}
div #extra form{
	text-align: center;
}

/* Formulario */
form{
	background-color:orange;
}
form ul li{
	display: block;
	padding: 0.5em;
}

/* Classes */

/* Boton */
.boton {
	border: none;
	background-color: black;
	color: white;
	width: 100px;
	height: 30px;
}
/* Comentario */
.comentario{
	color:red;
}
/* Parrafo */
.parrafo{
	text-align: center;
}
/* estilos de post */
.post {
	background-color: white;
	padding: 2em;	
}
.post h2{
	padding: 0.5em;
}

.publicidad {
	padding: 1em;
}
.publicidad h2 {
	padding: 0.5em;
}
 .video {
 	width: 60%;
 	text-align: center;
 }

@media (max-width:1000px) {
	div {
		width: 95%;
	}
	div #contenido { 	/*Aqui van todos los post*/
		background-color: #4169E1;
		width: 100%;
	}
	div #extra {
		width: 100%;
	}
	div #extra article{ 	
		background-color: white;
		display: block;
	}

	.video{
		text-align: center;
	}

}